/* Colors: #141465 - DBlue, #f79519 - yellow, #328dcc -LBlue, #d31631 - Red */
@import url("https://fonts.googleapis.com/css2?family=Charm&family=Nunito:wght@200;400&family=PT+Serif&display=swap");

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "PT Serif", serif;
}

main {
  display: block;
}

h1 {
  font-family: "Charm", cursive;
  line-height: 1.5;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

/* Header */
.name-heading {
  font-size: 5rem;
  margin: 50px auto 10px auto;
}

.description-heading {
  font-size: 2.5rem;
  font-weight: 200;
}

.top-container {
  background: #93efe1;
  color: #080826;
  position: relative;
  padding-top: 100px;
}

.top-container > :nth-child(4) {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-container > :nth-child(1) {
  position: absolute;
  right: 300px;
  top: 50px;
}

/* Body */
.middle-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

/* Profile */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  border-bottom: 2px solid #080826;
  line-height: 1.5;
}

.hero-image_container {
  width: 190px;
  height: 190px;
  background-color: #90f1e2d6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.hero-image_container img {
  width: 80%;
  height: 80%;
  margin: auto;
  display: block;
}

.profile-description {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Skill */
.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 1fr;
  padding: 10px 50px;
  justify-items: center;
  align-items: center;
}

.skills > h2 {
  grid-column: span 2;
}

.skill-row {
  height: 300px;
  width: 320px;
  background-color: #9bf88d;
  padding: 20px 16px;
  border-radius: 12px;
  line-height: 1.35;
  transition: scale 0.18s ease-in-out;
}

.skill-row > h3 {
  margin: 15px 0 7px 0px;
}

.icon-container {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background: #090929;
  text-align: center;
  margin: auto;
  display: flex;
}

.icon-container > .svg-inline--fa {
  color: #f2f2f2;
  height: 50px;
  width: 50px;
  margin: auto;
}

.skill-row:hover {
  scale: 1.1;
  background-color: #a3f696e8;
}

/* Footer */
.main-footer {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 100px;
}

.footer-heading {
  margin-bottom: 40px;
}

.footer-heading h2 {
  margin-bottom: 10px;
}

.main-footer > .contact-me {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  height: 200px;
  width: 400px;
}

.main-footer > .contact-me h3 {
  margin-bottom: 10px;
}

.main-footer .contact-button {
  margin-top: 8px;
  background: #93efe1;
  width: 150px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.main-footer .btn {
  color: #090929;
}

.main-footer .contact-button:hover .btn {
  color: #f2f2f2;
}

.main-footer .contact-button:hover {
  opacity: 0.9;
  background-color: #080826;
}

.bottom-container {
  background: #46706A;
  color: #f2f2f2;
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-footer > .bottom-links {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
}

.bottom-links a {
  margin-right: 20px;
  border-bottom: 0.5px solid #46706A;
  color: #f2f2f2;
}

.bottom-links a:hover {
  opacity: 0.85;
  border-bottom: 0.5px solid #f2f2f2;
}

.bottom-container p {
  margin-top: 30px;
}