/* Colors: #141465 - DBlue, #f79519 - yellow, #328dcc -LBlue, #d31631 - Red */
@import url("https://fonts.googleapis.com/css2?family=Charm&family=Nunito:wght@200;400&family=PT+Serif&display=swap");

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "PT Serif", serif;
}

main {
  display: block;
}

h1 {
  font-family: "Charm", cursive;
  line-height: 1.5;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

/* Header */
.name-heading {
  font-size: 5rem;
  margin: 50px auto 10px auto;
  /* color: #66bfbf; */
}

.description-heading {
  font-size: 2.5rem;
  font-weight: 200;
  /* color: #66bfbf; */
}

.top-container {
  background: #93efe1;
  color: #080826;
  position: relative;
  padding-top: 100px;
}

.top-container > :nth-child(4) {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-container > :nth-child(1) {
  position: absolute;
  right: 300px;
  top: 50px;
}

/* Body */
/* Skill */
h3,
a {
  color: #11999e;
}

.icon-container {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background: #090929;
  text-align: center;
  margin: auto;
  display: flex;
}

.icon-container > .svg-inline--fa {
  color: #f2f2f2;
  height: 50px;
  width: 50px;
  margin: auto;
}
